<form [formGroup]="myForm" (ngSubmit)="register()">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" formControlName="name"/>
    <div class="alert alert-danger" *ngIf="myForm.get('name').invalid && myForm.get('name').touched"> Invalid Field </div>
  </div>



  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email"/>
    <div class="alert alert-danger" *ngIf="myForm.get('email').invalid && myForm.get('email').touched"> Invalid Field </div>
  </div>

  <div class="form-group">
    <label for="ca">Chiffre d'affaire</label>
    <input type="number" class="form-control" id="ca" formControlName="ca"/>
    <div class="alert alert-danger" *ngIf="myForm.get('ca').invalid && myForm.get('ca').touched"> Invalid Field  {{myForm.get('ca').errors |json}}</div>
  </div>

  <div class="form-group">
    <label for="state">Etat</label>
    <select formControlName="state" class="for-control">
      <option [value]="state" *ngFor="let state of clientStates" > {{state}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="email.invalid && email.touched"> Invalid Field </div>
  </div>

  <div class="form-group">
    <label for="comment">Commentaire</label>
    <input type="text" class="form-control" id="ca" formControlName="comment"/>
    <div class="alert alert-danger" *ngIf="myForm.get('comment').invalid && myForm.get('comment').touched"> Invalid Field </div>
  </div>

  <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">
    submit
  </button>
</form>

