<app-template-a title="Les clients" subtitle="Liste des clients">
  <app-button text="Add a client" (BtnSubmitted)="goToAddClient()"></app-button>

  <ng-container *ngIf="clients.length > 0; else NoData">
    <app-tableau [headers]="['Name', 'email', 'Statut', 'CA']">
      <tr *ngFor="let client of clients">
        <th>{{ client.name | uppercase }}</th>
        <th>{{ client.email }}</th>
        <th appState [state]="client.state">
          {{ client.state | star }}
          <select [(ngModel)]="client.state" class="form-control" (change)="updateClient($event, client)">
            <option [value]="state" *ngFor="let state of clientStates">
              {{state }}
            </option>
          </select>
        </th>
        <th>{{ client.ca | currency: "EUR" }}</th>
      </tr>
    </app-tableau>
  </ng-container>

  <ng-template #NoData>
    <h1>il n'y a pas de client</h1>
  </ng-template>
</app-template-a>
